[package]
name = "dubbo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "helloworld-client"
path = "src/helloworld/client.rs"

[dependencies]
h2 = {version = "0.3", optional = true}
hyper = "0.14.19"
http = "0.2"
tonic = {version ="0.7.2", features = ["compression",]}
tower-service = "0.3.1"
http-body = "0.4.4"
tower = "0.4.12"
futures-util = {version = "0.3", default-features = false}
tokio = { version = "1.0", features = [ "rt-multi-thread", "time", "fs", "macros", "net", "signal"] }
prost-derive = {version = "0.10", optional = true}
prost = "0.10.4"
prost-types = { version = "0.8", default-features = false }
lazy_static = "1.3.0"
async-trait = "0.1.56"
tower-layer = "0.3"

