[package]
name = "dubbo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hyper = { version = "0.14.19", features = ["full"]}
http = "0.2"
tonic = {version ="0.7.2", features = ["compression",]}
tower-service = "0.3.1"
http-body = "0.4.4"
tower = "0.4.12"
futures-util = "0.3.23"
futures-core ="0.3.23"
tokio = { version = "1.0", features = [ "rt-multi-thread", "time", "fs", "macros", "net", "signal"] }
prost = "0.10.4"
lazy_static = "1.3.0"
async-trait = "0.1.56"
tower-layer = "0.3"
bytes = "1.0"
pin-project = "1.0"
serde_json = "1.0.82"
serde = {version="1.0.138", features = ["derive"]}
futures = "0.3"
tracing = "0.1"
tracing-subscriber = "0.3.15"
axum = "0.5.9"
async-stream = "0.3"
flate2 = "1.0"

config = {path = "../config"}
